<% if session[:facebook_name] %>
<div class="constraint" style="padding-left:20px;">
	
	<h2 style="margin-bottom:0;">Welcome to Tickrtalk!</h2>

	<h4 style="margin-bottom:5px;">You are now signed into Facebook as <strong><%= session[:facebook_name] %></strong>.</h4>
		
	<div id="signup_header">
		Please register with us. From now on, you can use your Facebook login or Tickrtalk login to sign in.
	</div>

	<% form_for :user, :url => {:controller => "users", :action => "create"} do |f| %>  
		<%= message_block :flash_types => [:error] %>

		<label class="flab"style="margin-bottom:10px;">
			Username
		</label>
		<%= f.text_field :username, :class => "login_field" %>
		
		<label class="flab">
			Password
		</label>
		<%= f.password_field :password, :class => "login_field" %>			

		<label class="flab">
			Password Confirmation
		</label>
		<%= f.password_field :password_confirmation, :class => "login_field" %>

		<label class="flab">
			Email (private. no spam.)
		</label>
		<%= f.text_field :email, :class => "login_field" %>
		<br />
	
		<%= f.submit "Signup!", :class => "signup_button" %><br />
		
		<div style="margin-top:10px;">
  		<div style="margin-top:10px;"><%= link_to "Logout of Facebook", logout_facebook_url %></div>
		</div>
	<% end %>
</div>
<% end %>