<div style="height:100%;max-height:100%;">
	<table style="height:100%;" class="clearspace">
		<tr style="height:101px;" class="clearspace">
			<td style="height:101px;" class="padfix clearspace">
				<div id="grheader">
					<div id="grheadertext"><%= h @game.name %></div>
				</div>
			</td>
		</tr>
		<tr style="height:44px;" class="clearspace">
			<td style="height:44px;" class="padfix clearspace">
				<img src="/images/ttlg.png" />
			</td>
		</tr>
		<tr style="height:100%;" class="clearspace">
			<td style="height:100%;" class="clearspace">
				<table width="100%" style="height:100%;" class="clearspace">
					<tr>
						<td width="170" valign="top" style="vertical-align:top;" class="clearspace">
							<div style="width:170px;">
								<div class="panetitle"><% if current_user %>Logged In<% else %>Not logged in <% end %></div>
								<div class="pane">									
									
									<% if current_user %>
									Logged in as <strong><%= link_to current_user.username, "/users/#{current_user.username}" %></strong><br />
									<%= link_to "logout", logout_path %>									
									
									<% else %>
									
									<strong>Login to TickrTalk</strong>
										<% store_location %>
										
										<% form_for :user_session, :url => {:controller => "user_sessions", :action => "create"} do |form| %>
											<label class="user_label">username:</label>
											<%= form.text_field :username, :size => 20 %>
											<label class="user_label">password:</label>
											<%= form.password_field :password, :size => 20 %> 
											
											<%= form.submit "Login", :class => "user_button" %>
										<% end %>
									<br />
  									<% @gameroom = "yes" %>
  									<strong>Sign Up for TickrTalk!</strong>
										<% form_for :user, :url => {:controller => "users", :action => "create"} do |form| %>
											<label class="user_label">username:</label>
											<%= form.text_field :username, :size => 20 %>
											
											<label class="user_label">password:</label>
											<%= form.password_field :password, :size => 20%> 
											
											<label class="user_label">password confirmation:</label>
											<%= form.password_field :password_confirmation, :size => 20 %> 
											
											<label class="user_label">email (no spam):</label>
											<%= form.text_field :email, :size => 20 %> 
											
											<%= form.submit "Signup!", :class => "user_button" %>
										<% end %>
									<% end %>
								</div>
								<div class="panetitle">Game Details</div>
								<div class="pane">
									<strong>Game Start:</strong><br />
									<%= @game.date.strftime("%A, %b %d") %><br /><%= @game.game_datetime.strftime("%I:%M %p %Z") %>
									<br /><br />
									<strong>Teams:</strong><br />
									<a href="/teams/<%= Team.first(:resource => @game.home_team).id %>"><%= h Team.first(:resource => @game.home_team).team_name %></a> vs. <a href="/teams/<%= Team.first(:resource => @game.away_team).id %>"><%= h Team.first(:resource => @game.away_team).team_name %></a>
								</div>
							</div>
						</td>
						<td width="90%" valign="top" style="vertical-align:top;padding-top:0;">
							
							<div style="height:100%;background-color:#7c0000;">
							
								<table width="100%" style="height:100%;" class="clearspace">
									<tr>
										<td height="46" class="clearspace">
											<div id="updatetitle"><img src="/images/updates.png" /></div>
										</td>
									</tr>
									<tr>
										<td height="48" class="clearspace">
											<div id="updaterbox">
												<div id="updaterleft">
													<div id="updaterright">
														<div id="updaterinput">
															<% form_for :update, @update, :html => {:id => "update_form"}, :url => { :controller => "private_updates", :action => :add_line, :id => @gameroom.id, :gameroom_key => @gameroom.gameroom_key } do |f| %>
															
																<% if @in_reply_to %>
															
		                        		  							<%= f.text_field :content, :value => "@#{h @in_reply_to} ", :rows => 70, :class => 'updatetext' %>
																	<%= f.hidden_field :in_reply_to_update_id, :value => @in_reply_to_update_id %>
																	<%= f.hidden_field :in_reply_to_user, :value => @in_reply_to %>
																
																<% else %>
															
		                        		  							<%= f.text_field :content, :rows => 70, :class => 'updatetext' %>
																	<%= f.hidden_field :in_reply_to_update_id %>
																	<%= f.hidden_field :in_reply_to_user %>
															
																<% end %>
																
															<% end %>
														</div>
													</div>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td class="clearspace">
											<div style="padding:8px;color:#857677;" id="tablist">
												<% if current_user %>
													<%= link_to "all", {:action => "all_updates", :id => @gameroom.id, :gameroom_key => @gameroom.gameroom_key}, :class => "remote atab atabcurrent", :id => "all_updates_link", :style => "color:#857677;text-decoration:none;", :title => "all", :onclick => 'taba("all_updates_link")' %>
													<%= link_to "replies", {:action => "replies", :id => @gameroom.id, :gameroom_key => @gameroom.gameroom_key}, :class => "remote atab", :id => "replies_link", :style => "color:#857677;text-decoration:none;", :title => "replies", :onclick => 'taba("replies_link")' %>
												<% end %>									
											</div>
										</td>
									</tr>
									<tr>
										<td height="100%" class="clearspace">
											<div id="updates" style="height:100%;">
												<div style="padding:0px;">

													<div id="updatespane" class="remote_output">																																									
                            							<%= render :partial => "updates" %>
													</div>

												</div>
											</div>
											
										</td>
									</tr>
								</table>
								
							</div>
							
						</td>
						<td width="210" valign="top" style="vertical-align:top;" class="clearspace">
							<div style="width:210px;">
								<div>
								<% unless @game.home_score.nil? %>
								<strong>Score:</strong>
								<br />														
									<%= Team.first(:resource => @game.home_team).team %> - <strong><%= @game.home_score %></strong>
									<br />
									<%= Team.first(:resource => @game.away_team).team %> - <strong><%= @game.away_score %></strong>
								<% end %>
								</div>
								
								<div id="checkins">
									<div class="panetitle">Checked-In</div>
									
									<%= render :partial => "checkins" %>
								</div>
							</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
<script type="text/javascript" src="/javascripts/jquery.flash.js"></script> 
<script type="text/javascript" src="/javascripts/jquery.sifr.js"></script>
<script type="text/javascript">
	$('#grheadertext').sifr({path: '/sifr/', font: 'gl', fontSize: "1.3em", hover: "#DDDDDD" });
</script>