<div class="constraint">
  <div id="about" class="home">
    <h2 class="dotted_under">About TickrTalk</h2>
    
    <p><strong><%= link_to "Twitter", "http://twitter.com/tickrtalk", :target => "_blank" %> | <%= link_to "Email", "mailto:hello@tickrtalk.com", :target => "_blank" %></strong></p>
    
    <p><strong>Sport is all about the shared experience of transcendent moments.</strong></p> 
    <p>Now, you can use TickrTalk to stay in touch with friends and talk about your favorite games, in real time-- whether or not you're at the game or your go-to sports bar. Post your commentary, read analysis, and see instant reactions to big plays!</strong>
    
    <ul class='home'>
      <li>Check out what people on Twitter are saying, or filter updates to see only posts from TickrTalk users.</li>
      <li>Link your Facebook and Twitter accounts, and automatically push your TickrTalk posts to your networks.</li>
      <li>Feel like having a private chat with your old roommates who you always used to watch Lakers games and talk trash with? Create a private gameroom and talk away!</li>
    </ul>

    <p>
      We're trying to build an awesome product that you love to use, so please leave us your feedback on the right! Don't worry, mobile and media features coming soon.
    </p>

    <p><strong>About the team</strong></p>

    <ul class='home'>
      <li>
        <%= link_to "Harish", "http://bit.ly/harish", :target => "_blank" %> is a die-hard Lakers fan and will argue to the death that Phil Jackson is the greatest coach of all time.
      </li>
      <li>
        <%= link_to "Mark", "http://markbao.com", :target => "_blank" %> is a resident of greater Boston, and therefore is held under Massachusetts law to be a Red Sox fan.
      </li>
      <li>
        <%= link_to "Johnny", "http://phulogy.com", :target => "_blank" %> believes that life begins and ends with the Oklahoma State University Cowboys.
      </li>
    </ul>
  </div>
</div>